/target/
target/
.settings/*
!.settings/.jsdtscope
.project
.classpath
.openshift
/logs/
/log/
*.user
*.suo
*.[Cc]ache
*.bak
*.log 
*.DS_Store
[Tt]est[Rr]esult*
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
[Oo]bj
[Bb]in
[Tt]emp