<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
  
	<!-- 只要掃描Controller相關的Annotation類別 -->
	<context:component-scan base-package="com.nx.kernel" />
<!-- 	自動將URL參數綁定到Controler參數上-->
	<mvc:annotation-driven/> 
	<!-- 設定視圖解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	<mvc:resources location="/res/**" mapping="/res/"/>
	
</beans>